@charset "utf-8";
/* CSS Document */


@font-face {font-family: 'open_sansbold';
    src: url('/fonts/opensans-bold.eot');
    src: url('/fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-bold.woff2') format('woff2'),
         url('/fonts/opensans-bold.woff') format('woff'),
         url('/fonts/opensans-bold.ttf') format('truetype'),
         url('/fonts/opensans-bold.svg#open_sansbold') format('svg'); font-weight: normal; font-style: normal;}

@font-face {font-family: 'open_sanscondensed_light';
    src: url('/fonts/opensans-condlight.eot');
    src: url('/fonts/opensans-condlight.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-condlight.woff2') format('woff2'),
         url('/fonts/opensans-condlight.woff') format('woff'),
         url('/fonts/opensans-condlight.ttf') format('truetype'),
         url('/fonts/opensans-condlight.svg#open_sanscondensed_light') format('svg'); font-weight: normal; font-style: normal;}

@font-face {font-family: 'open_sanslight';
    src: url('/fonts/opensans-light.eot');
    src: url('/fonts/opensans-light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-light.woff2') format('woff2'),
         url('/fonts/opensans-light.woff') format('woff'),
         url('/fonts/opensans-light.ttf') format('truetype'),
         url('/fonts/opensans-light.svg#open_sanslight') format('svg'); font-weight: normal; font-style: normal;}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('/fonts/opensans-lightitalic.eot');
    src: url('/fonts/opensans-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-lightitalic.woff2') format('woff2'),
         url('/fonts/opensans-lightitalic.woff') format('woff'),
         url('/fonts/opensans-lightitalic.ttf') format('truetype'),
         url('/fonts/opensans-lightitalic.svg#open_sanslight_italic') format('svg'); font-weight: normal; font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('/fonts/opensans-regular.eot');
    src: url('/fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-regular.woff2') format('woff2'),
         url('/fonts/opensans-regular.woff') format('woff'),
         url('/fonts/opensans-regular.ttf') format('truetype'),
         url('/fonts/opensans-regular.svg#open_sansregular') format('svg'); font-weight: normal; font-style: normal;
}


body {margin:0; padding:0; background:#fff; !important;}

/*-----------navigation
------------------------------*/
.nav-div {position:fixed; top:0; bottom:0; left:0; width:100px; background:#ffffff; z-index:889;}
.nav-button {width:100px; min-height:100px;}
.nav-a {width:100px; height:100px; border-bottom:1px solid #eeeeee !important; display:block;}
.nav-a:hover {background-position: right center;}
.nav-mnu {background:url(../img/ico-nav01.png) no-repeat #f4f4f4; background-position: left center;}
.nav-phn {background:url(../img/ico-nav02.png) no-repeat; background-position: left center;}
.nav-eml {background:url(../img/ico-nav03.png) no-repeat; background-position: left center;}
.nav-face {background:url(../img/ico-nav05.png) no-repeat #f4f4f4; background-position: left center;}
.nav-inst {background:url(../img/ico-nav06.png) no-repeat #f4f4f4; background-position: left center;}
.nav-yout {background:url(../img/ico-nav07.png) no-repeat #f4f4f4; background-position: left center;}
.nav-bt-top {background:url(../img/ico-nav04.png) no-repeat; background-position: left center; position: absolute; left:0; bottom:0; z-index:890; border-top:1px solid #eeeeee}

.nav-lang-div {width:100px; height:100px; border-bottom:1px solid rgba(255,255,255,.1) !important; position:relative;}
.nav-lang-sep {width:2px; height:20px; background:rgba(255,255,255,.4); position:absolute; left:50%; margin-left:-1px; top:50%; margin-top:-10px;}
.nav-lang-lnk {width:50px; height:100px; float:left; text-align: center; font:18px/18px 'open_sanslight', Arial, sans-serif; color:#fff; display:block; padding-top:40px; opacity:.4}
.nav-lang-lnk:hover {opacity:1; color:#fff !important;}

.overlay {position: fixed; width:300px; height: 100%; top: 0; left:100px; background:#222222; z-index:1000;}
.overlay .overlay-close {width:100px; height:100px; position: absolute; left:-100px; top:0px; overflow: hidden; border: none; background: url(../img/cross.png) no-repeat center center #222222; text-indent: 200%; color: transparent; outline: none; z-index: 10000; opacity:0;}
.overlay nav {position: relative; top:0; height:100%; -webkit-transform: translateY(0%); transform: translateY(0%);}
.overlay nav a {text-align:left; font:18px/18px 'open_sanscondensed_light' !important; display: block; color:#ffffff; -webkit-transition: color 0.2s; transition: color 0.2s; padding:15.5px 15px; border-bottom:1px dotted rgba(255,255,255,.1); cursor: pointer;}
.overlay nav a.aserv {background:#2a2a2a; color:#ffffff; font:16px/16px 'open_sanscondensed_light' !important; box-shadow:inset 0 -1px 0 #2e2e2e; padding:12px 5px 12px 40px; position:relative;}
.overlay nav a.aserv .adot {background:#f17922; position:absolute; left:15px; top:50%; margin-top:-3px;  height:6px; width:6px; display:block; border-radius:3px;}
.overlay nav a:hover,
.overlay nav a:focus {color: #f17922; text-decoration:none;}
.overlay-hugeinc {opacity: 0; visibility: hidden; -webkit-transition: opacity 0.2s, visibility 0s 0.2s; transition: opacity 0.2s, visibility 0s 0.2s;}
.overlay-hugeinc.open {opacity: 1; visibility: visible; -webkit-transition: opacity 0.5s; transition: opacity 0.5s; height:100%; overflow-y:auto;}
.overlay-hugeinc nav {-webkit-perspective: 1200px; perspective: 1200px;}
.overlay-hugeinc nav ul {opacity: 0.4; -webkit-transition: -webkit-transform 0.5s, opacity 0.5s; transition: transform 0.5s, opacity 0.5s;}
.overlay-hugeinc.open nav ul {opacity: 1; -webkit-transform: rotateX(0deg); transform: rotateX(0deg);}
.overlay-hugeinc.close nav ul {}

/*-----------content
------------------------------*/
.mainwrap {overflow:hidden;}
.mainrow {overflow:hidden; position:relative; z-index:1; padding-left:100px;}
.main-ttl-div {overflow:hidden; margin-bottom:40px;}
.main-ttl-box {position:relative; z-index:1; text-align:center;}
.main-ttl-bold {font:200px/150px 'open_sansbold', Arial, sans-serif; text-transform:uppercase;}
.main-ttl-bold-grey {color:#eeeeee;}
.main-ttl-bold-white {color:#f7f7f7;}
.main-ttl {position:absolute; top: 50%; width:100%; padding:0 10px; transform: translateX(0%) translateY(-50%); font:60px/60px 'open_sanscondensed_light', 'open_sanslight', Arial, sans-serif; color:#000000; z-index:2;}
.main-ttl02 {font:60px/60px 'open_sanscondensed_light', 'open_sanslight', Arial, sans-serif; color:#000000; z-index:2; margin-bottom:30px;}
.main-ttl-sep {height:2px; width:160px; box-shadow:inset 0 1px 0 #cccccc; margin:0 auto 30px auto;}
.main-ttl-sep > span {height:2px; width:50px; display:block; background:#f17922; margin:0 auto;}
.main-ttl-dscr {font:15px/26px 'open_sanslight', Arial, sans-serif; color:#000000; text-align:center; padding:0 30px; max-width:1300px; margin:0 auto;}
.main-ttl-dscr p {font:16px/18px 'open_sanslight', Arial, sans-serif; padding:0; margin:0;}

.div01 {overflow:hidden;}
.video-bg {position:relative; height:100vh; width:100%; overflow: hidden; z-index: 1; background: url(/img/bg-video.jpg) no-repeat #888888; background-size: cover;}
.video-bg > video {position: absolute; top: 0; left: 0; min-width: 100%; min-height: 100%; width: auto; height: auto; z-index:1;}
.sldrbg {position:relative; height:100vh; width:100%; overflow: hidden; z-index: 1; background:#000000;}
.sldrbg-serv {position:absolute; height:100%; width:100%; z-index:2; opacity:.33}
.sldrbg03 {position:relative; height:auto; width:100%; overflow: hidden; z-index: 1; background-size: cover;}
.sldrbg031 {background: url(/img/bg-video.jpg) no-repeat #888888;}
@supports (object-fit: cover) { .video-bg > video {top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;}}
.sldrdiv {padding:13px 20px 20px 80px; position:relative; z-index:2;}
.sldrlogo {height:89px; width:160px; background:url(/img/logo.png) center center no-repeat; margin-bottom:13px; display:block;}
.sldrsep {height:2px; width:160px; box-shadow:inset 0 1px rgba(255,255,255,.1); margin-bottom:15px;}
.sldrsep > span {height:2px; width:50px; display:block; background:#f17922;}
.sldr-ttl {overflow:hidden; margin:0; padding:0; color:#fff; margin-bottom:55px;}
.sldr-ttl03 {overflow:hidden; margin:0; padding:0; color:#fff; margin-bottom:20px;}
.sldr-dscr {margin:20px 0 80px 0; border-left:3px solid #f17922; padding: 0 0 0 40px; font:24px/20px 'open_sanslight', Arial, sans-serif; color: #fff;}
.sldr-ln01 {display:block; font:16px/16px 'open_sanslight', Arial, sans-serif; margin-bottom:50px;}
.sldr-ln011 {margin-bottom:0px !important;}
.sldr-ln02 {display:block; font:100px/130px 'open_sanscondensed_light', 'open_sanslight', Arial, sans-serif; margin-top:-10px; letter-spacing:-2px; color:#fff;}
.sldr-ln03 {display:block; font:60px/60px 'open_sanscondensed_light', 'open_sanslight', Arial, sans-serif; margin-top:0; letter-spacing:-2px; color:#fff;}
.sldr-list {overflow:hidden; margin-bottom:50px;}
/*
.sldr-list a, .sldr-list a:focus, .sldr-list a:active {display:block; font:24px/24px 'open_sanslight_italic', Arial, sans-serif; padding-left:80px; position:relative; color:#fff; text-decoration:none; margin-bottom:18px; max-width:300px;}
.sldr-list a:hover {text-decoration:none; color:#f17922;}
*/
.sldr-list div {display:block; font:24px/24px 'open_sanslight_italic', Arial, sans-serif; padding-left:80px; position:relative; color:#fff; text-decoration:none; margin-bottom:18px; max-width:300px;}
.sldr-list div span {position:absolute; top:50%; left:0; height:1px; width:50px; background:#f17922;}
.sldr-block-bttn {padding-left:80px; overflow:hidden;}
.sldr-block-bttn02 {padding-left:0; overflow:hidden;}
.sldr-bttn {display:inline-block; width:260px; height:40px; text-decoration:none; text-align:center; padding:12px 5px; font:14px/14px 'open_sanslight', Arial, sans-serif; letter-spacing:1px; transition:background 300ms, color 300ms; cursor:pointer;}
.sldr-bttn:hover {color:#ffffff; background:#000000; text-decoration:none;}
.sldr-bttn-left, .sldr-bttn-left:focus, .sldr-bttn-left:active  {background:#ffffff; color:#000000; margin-right:30px;}
.sldr-bttn-rght, .sldr-bttn-rght:focus, .sldr-bttn-rght:active  {background:#f17922; color:#ffffff;}
.sldr-bttn-mddl, .sldr-bttn-mddl:focus, .sldr-bttn-mddl:active  {background:red; clear:both; float: none; color:#ffffff; margin-top:20px;}
.sldr-bttn-w1  {width:554px;}
.sldr-bttn-w2  {width:260px;}
.sldr-preim {overflow:hidden; clear: both; margin-bottom:50px;}
.sldr-preim-div {box-shadow:inset 1px 0 0 #ffffff;}
.sldr-preim-div:last-child {box-shadow:inset 1px 0 0 #ffffff, inset -1px 0 0 #ffffff;}
.sldr-preim-row {padding:0 15px;}
.sldr-preim-block {background:rgba(0,0,0,.5); padding:15px 15px 15px 90px; position:relative; min-height: 110px;}
.sldrico {width:50px; height:50px; position:absolute; left:20px; top:20px;}
.sldrblock-ttl {font:19px/28px 'open_sanslight_italic', Arial, sans-serif; color:#fff;}

.div02 {padding:50px 0; overflow:hidden; background:#f2f2f2;}
.div22 {padding:50px 0 0 0; overflow:hidden; background:#f2f2f2;}
.row02 {max-width:1300px; margin:0 auto 50px auto; position:relative; clear:both; overflow: hidden;}
.row22 {max-width:1300px; margin:0 auto; position:relative; clear:both; overflow: hidden;}
.abt-div {position:relative; z-index:1;}
.abt-row {position:relative; min-height:500px; position:relative; z-index:1;}
.abt-row01 {padding:80px 300px 80px 70px;}
.abt-row02 {padding:80px 70px 80px 300px;}
.abt-bord {position:absolute; top:0; bottom:30px; border:5px solid #dddddd; z-index:3;}
.abt-bord01 {left:0; right:70px;}
.abt-bord02 {left:70px; right:0;}
.abt-block {position:absolute; top:30px; bottom:0; background:#ffffff; z-index:2;}
.abt-block01 {left:30px; right:40px;}
.abt-block02 {left:40px; right:30px;}
.abt-box {position:relative; z-index:4;}
.abt-ttl {position:relative; padding:0 0 0 50px; font:18px/18px 'open_sanslight_italic', Arial, sans-serif; color:#000000; min-height:30px; margin-bottom:50px;}
.abt-ico {position:absolute; left:0; top:0; width:30px; display:block;}
.abt-dscr {font:16px/24px 'open_sanslight_italic', Arial, sans-serif; color:#383838; text-align:justify;}
.abt-vid-bttn, .abt-vid-bttn:focus, .abt-vid-bttn:active {position:absolute; width:560px; height:316px; top:60px; right:50%; margin-right:-280px; z-index:2; background:url(/img/bg-yvideo.jpg) center center no-repeat; z-index:4; display:block; box-shadow:0 15px 30px rgba(0,0,0,.15); transition:background 300ms;}
.abt-vid-bttn:hover {background:url(/img/bg-yvideo02.jpg) center center no-repeat;}

.div-block-bttn {overflow:hidden; margin:0 auto; clear:both; width:552px;}
.div-block-bttn02 {overflow:hidden; margin:0 auto; clear:both; width:260px;}
.div-bttn {display:inline-block; width:260px; height:40px; text-decoration:none; text-align:center; padding:12px 5px; font:14px/14px Arial, sans-serif; letter-spacing:1px; margin:0 7px; transition:background 300ms, color 300ms; cursor:pointer;}
.div-bttn:hover {color:#000000; background:#dddddd; text-decoration:none;}
.div-bttn-left, .div-bttn-left:focus, .div-bttn-left:active  {background:#000000; color:#ffffff;}
.div-bttn-rght, .div-bttn-rght:focus, .div-bttn-rght:active  {background:#f17922; color:#ffffff;}

.div03 {padding:50px 0; overflow:hidden; background:#fafafa;}
.row03 {margin-bottom:50px; position:relative; overflow:hidden;}
.infr-block {margin:0 60px;}
.infr-col {}
.infr-row {overflow:hidden; padding:1px;}
.infr-ttl {position:absolute; z-index:1; padding:12px 20px; color:#ffffff; width:100%; display: block; height:75px; text-align:center; background:rgba(0,0,0,.7);}
.infr-ttl span {color:#ffffff; font:18px/24px 'open_sanslight', Arial, sans-serif;}
.infr-box, .infr-box:focus, .infr-box:active {position: relative; overflow:hidden; z-index:1; display: block; opacity:1; transition:opacity 300ms; background:#fff; box-shadow:1px 1px 0 #dddddd; border-radius:3px; transition:box-shadow 400ms,background 400ms,color 400ms,opacity 400ms;}
.infr-box:hover {box-shadow:none; color:#000000; background:none; opacity:.9;}
.infr-box-bg {background:#eeeeee;}

.gal-block {margin:0 60px;}
.gal-col {}
.gal-row {overflow:hidden; padding:5px;}
.gal-ttl {position:relative; z-index:1; padding:12px 20px; font:18px/24px 'open_sanslight', Arial, sans-serif; color:#000000; display: block; height:75px; text-align:center;}
.gal-ttl span {color:#f17922;}
.gal-box, .gal-box:focus, .gal-box:active {position: relative; overflow:hidden; z-index:1; display: block; opacity:1; box-shadow:1px 1px 0 #dddddd; background:#fff; border-radius:2px; transition:box-shadow 400ms,opacity 400ms,background 400ms;}
.gal-box:hover {opacity:0.7; background:none !important; box-shadow:none;}
.gal-box-img {padding:1px; background:url('/img/eye.png') center center no-repeat; overflow: hidden;}
.gal-box-img img:hover {opacity:.4;}
.gal-box-img .img-responsive {margin:0 auto;}

.div04 {padding:50px 0; overflow:hidden; background:#f2f2f2;}
.div44 {padding:20px 0 50px; overflow:hidden; background:#f2f2f2;}
.row04 {margin-bottom:50px; position:relative; overflow:hidden;}
.serv-block {margin:0 60px;}
.serv-block02 {margin:0 60px;}
.serv-col {}
.serv-row {overflow:hidden; padding:1px;}
.serv-row02 {overflow:hidden; padding:5px;}
.serv-ttl {position:relative; z-index:1; padding:12px 20px; font:24px/24px 'open_sanslight', Arial, sans-serif; color:#000000; background:#f2f2f2; display: block; height:75px; text-align:center;}
.serv-box,.serv-box:focus,.serv-box:active {position: relative; overflow:hidden; z-index:1; background:#ffffff; color:#383838; display:block; opacity:1; box-shadow:1px 1px 0 #dddddd; border-radius:3px; transition:box-shadow 400ms,background 400ms,color 400ms,opacity 400ms;}
.serv-box:hover {box-shadow:none; color:#000000; background:none; opacity:.9;}
.serv-box-img {display:block; position:relative;z-index:1;}
.serv-box-img .img-responsive {position:relative; z-index:1; display:block;}
.serv-box-img-bg {position:absolute; top:0; bottom:0; width:100%; background:rgba(0,0,0,.65); z-index:2; display:block;}
.serv-box-ttl {position:absolute; bottom:30px; left:40px; right:30px; z-index:3; font:30px/32px 'open_sanscondensed_light', 'open_sanslight', Arial, sans-serif; color:#ffffff; display:block;}
.serv-span {padding:30px 40px; display:block; min-height:180px;}
.serv-span-ttl {font:28px/24px 'open_sanscondensed_light', 'open_sanslight', Arial, sans-serif;  margin-bottom:20px; min-height:50px; display:block;}
.serv-span-txt {font:14px/20px 'open_sanslight', Arial, sans-serif; margin-bottom:20px; display:block;}
.serv-span-lnk {font:14px/14px 'open_sanslight_italic', Arial, sans-serif; display:block; text-align:right; color:#f17922;}

.news-block {margin:0 60px;}
.news-col {}
.news-row {overflow:hidden; padding:5px;}
.news-ttl {position:relative; z-index:1; padding:12px 20px; font:24px/24px 'open_sanslight', Arial, sans-serif; color:#000000; background:#f2f2f2; display: block; height:75px; text-align:center;}
.news-box,.news-box:focus,.news-box:active {position: relative; overflow:hidden; z-index:1; background:rgba(255,255,255,.8); color:#f17922; display:block; box-shadow:1px 1px 0 #dddddd; border-radius:2px; transition:box-shadow 400ms,background 400ms;}
.news-box:hover {box-shadow:none; color:#000000; background:rgba(255,255,255,.3);}
.news-box-img {position:absolute; top:0; bottom:0; left:0; width:50%; z-index:2; display:block;}
.news-box-txt {position:relative; width:50%; z-index:2; display:block; float:right; min-height:270px; padding:25px;}
.news-box-ttl {font:18px/18px 'open_sanslight', Arial, sans-serif; color:#f17922; margin:0 0 20px; padding:0; display: block;}
.news-box-ttl02 {font:18px/18px 'open_sanslight', Arial, sans-serif; margin:0 0 20px; padding:0; display: block;}
.news-box-dscr {font:13px/18px 'open_sanslight', Arial, sans-serif; color:#000000; margin:0 0 20px; display:block; padding:0;}
.news-box-lnk {font:13px/12px 'open_sanslight_italic', Arial, sans-serif; display:block; text-align:right;}

.div05 {background:#fafafa; overflow: hidden; position:relative;}
.mtext-bg {position:absolute; width:50%; top:0; bottom:0; left:0; background: url(/img/bg-video.jpg) center center no-repeat #888888; background-size: cover;}
.mtext-block {display:none;}
.mtextbox-div {float:right !important;}
.mtextbox-row {padding:40px 60px;}
.mtextbox-ttl {font:60px/60px 'open_sanscondensed_light', 'open_sanslight', Arial, sans-serif; color:#000000; text-align:right; margin-bottom:30px;}
.mtextbox-sep {height:2px; width:160px; box-shadow:inset 0 1px 0 #cccccc; margin:0 0 30px auto;}
.mtextbox-sep span {height:2px; width:50px; display:block; background:#f17922; margin:0 0 30px auto;}
.mtextbox-text {overflow: hidden; margin-bottom:30px;}

.mtextbox-bttn {display: block; clear: both; float: right;}

.maintext {padding:0 20px;}
.maintext h1 {font:40px/40px 'open_sanscondensed_light', Arial, sans-serif; color:#f17922; margin:0 0 20px; padding:0;}
.maintext h2 {font:30px/38px 'open_sanscondensed_light', Arial, sans-serif; color:#f17922; margin:0 0 20px; padding:0;}
.maintext h3 {font:30px/38px 'open_sanscondensed_light', Arial, sans-serif; color:#f17922; margin:0 0 20px; padding:0;}
.maintext h4 {font:28px/28px 'open_sanscondensed_light', Arial, sans-serif; color:#f17922; margin:0 0 20px; padding:0;}
.maintext h5 {font:28px/28px 'open_sanscondensed_light', Arial, sans-serif; color:#f17922; margin:0 0 20px; padding:0;}
.maintext h6 {font:28px/28px 'open_sanscondensed_light', Arial, sans-serif; color:#f17922; margin:0 0 20px; padding:0;}
.maintext p {font:14px/21px 'open_sanslight', Arial, sans-serif; color:#383838; margin:0 0 20px; display:block; padding:0; text-align:justify; letter-spacing: 0.3px;}
.maintext strong,b {color: #000; font:Arial, sans-serif;}
.maintext ul,ol {font:14px/14px 'open_sanslight_italic', Arial, sans-serif; margin: 0; padding-left:30px !important; color:#333; letter-spacing: 0.3px;}
.maintext li {color:#5b5b5b; list-style-type: none; margin-bottom: 10px;}
.maintext li:before {color:#f17922; content: "◊ "; padding-right: 10px; font-weight: bolder;}

.srv-page {position:relative; overflow:hidden; padding:0px;}
.srv-page-bg {position:absolute; top:0; bottom:0;z-index:1; width:50%; opacity:1;}
.srv-page:nth-child(even) .srv-page-bg {right:0;}
.srv-page:nth-child(odd) .srv-page-bg {left:0;}
.srv-page-div {position:relative; z-index:2; width:50%;}
.srv-page:nth-child(even) .srv-page-div {float:left;}
.srv-page:nth-child(odd) .srv-page-div {float:right;}
.srv-page-row {padding:40px; background:#fcfcfc; overflow: hidden;}
.srv-page-img {display:none !important;}
.srv-page-ttl {font:32px/38px 'open_sanslight', Arial, sans-serif; color:#f17922; margin:0 0 30px; padding:0;}
.srv-page-row p {font:14px/21px 'open_sanslight', Arial, sans-serif; color:#000000; margin:0 0 30px; display:block; padding:0; text-align:justify; letter-spacing: 0.3px;}
.srv-page-row strong,b {color: #000; font:Arial, sans-serif;}
.srv-page-row ul,ol {font:14px/21px 'open_sanslight', Arial, sans-serif; margin: 0; padding-left:0 !important; color:#333; letter-spacing: 0.3px;}
.srv-page-row li {color:#000000; list-style-type: none; margin-bottom:5px;}
.srv-page-row li:before {color:#f17922; content: "◊ "; padding-right:20px; font-weight: bolder;}
.srv-page-mob {}
.srv-page-box {padding-bottom:20px;}
.readmore-js-toggle {margin-bottom:-15px; padding:30px 0; font:14px/14px 'open_sanslight_italic', Arial, sans-serif; color:#f17922; text-align:right; background:none !important;}

.step-block {overflow: hidden; margin:0 auto 50px auto; max-width:1300px; padding:0 15px;}
.step-div {position: relative; overflow: hidden; padding:50px !important; height:340px; border:solid #eeeeee;}
.step-div:nth-child(1),.step-div:nth-child(2) {border-width:1px 0 0 1px;}
.step-div:nth-child(3) {border-width:1px 1px 0 1px;}
.step-div:nth-child(4) {border-width:1px 1px 1px 1px;}
.step-div:nth-child(5),.step-div:nth-child(6) {border-width:1px 1px 1px 0;}
.step-num {position: absolute; top:20px; left:40px; z-index:1; font: 200px/200px arial; color: #f5f5f5;}
.step-ttl {min-height:70px; font:32px/34px 'open_sanscondensed_light'; color:#f17922; margin-bottom: 20px; position: relative; z-index:2; overflow: hidden;}
.step-sep {width:100px; height: 1px; background:#ccc; margin-bottom: 20px; position: relative; z-index:2; overflow: hidden;}
.step-dscr {font:14px/21px 'open_sanslight'; color: #585858; position: relative; z-index:2; overflow: hidden;}
.step-cnr01 {position: absolute; left:0; top:0; width: 20px; height: 20px; border:solid #ddd; border-width:1px 0 0 1px;}
.step-cnr02 {position: absolute; top:0; right:0; width: 20px; height: 20px; border:solid #ddd; border-width:1px 1px 0 0;}
.step-cnr03 {position: absolute; right:0; bottom:0; width: 20px; height: 20px; border:solid #ddd; border-width:0 1px 1px 0;}
.step-cnr04 {position: absolute; bottom:0; left:0; width: 20px; height: 20px; border:solid #ddd; border-width:0 0 1px 1px;}

.coop {overflow: hidden; margin:0 auto 50px auto; max-width:1300px; padding:0 15px;}
.coop-div {position: relative; overflow: hidden; padding:50px 15px 0 15px !important;}
.coop-ico {position: absolute; top: 0; left:0; height:100px; width:100px; z-index:2;}
.coop-ico01 {background:url('/img/ico-num01.png') center center no-repeat;}
.coop-ico02 {background:url('/img/ico-num02.png') center center no-repeat;}
.coop-ico03 {background:url('/img/ico-num03.png') center center no-repeat;}
.coop-ico04 {background:url('/img/ico-num04.png') center center no-repeat;}
.coop-ico05 {background:url('/img/ico-num05.png') center center no-repeat;}
.coop-ico06 {background:url('/img/ico-num06.png') center center no-repeat;}
.coop-row {font:14px/21px 'open_sanslight'; color: #383838; letter-spacing:0.5px; padding:25px 10px 25px 100px; height: 180px; border-top:1px solid #000; position: relative; z-index:1; overflow: hidden;}


/*-----------slick
------------------------------*/
/* Slider */
.slick-slider {position: relative; display: block; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent;}
.slick-list {position: relative; display: block; overflow: hidden; margin: 0; padding: 0;}
.slick-list:focus {outline: none;}
.slick-list.dragging { cursor: pointer; cursor: hand;}
.slick-slider .slick-track,
.slick-slider .slick-list {-webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}
.slick-track {position: relative; top: 0; left: 0; display: block;}
.slick-track:before,
.slick-track:after {display: table; content: '';}
.slick-track:after {clear: both;}
.slick-loading .slick-track {visibility: hidden;}
.slick-slide {display: none; float: left; height: 100%; min-height: 1px;}
[dir='rtl'] .slick-slide {float: right;}
.slick-slide img {display: block;}
.slick-slide.slick-loading img {display: none;}
.slick-slide.dragging img {pointer-events: none;}
.slick-initialized .slick-slide {display: block;}
.slick-loading .slick-slide {visibility: hidden;}
.slick-vertical .slick-slide {display: block; height: auto; border: 1px solid transparent;}
.slick-arrow.slick-hidden {display: none;}

.slick-loading .slick-list {background: #fff url('../img/ajax-loader.gif') center center no-repeat;}
.slick-prev, .slick-next {line-height:0; position:absolute; top:50%; display: block; width:40px; height:40px; padding:0; cursor:pointer; color:transparent; border:none; outline:none; background:transparent; margin-top: -10px\9; /*lte IE 8*/ z-index:77;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {color: transparent; outline: none;}
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {opacity: 1;}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {opacity: .25; z-index:777;}
.slick-prev:hover {background:url('/img/ico-arr-left.png') center center no-repeat #000000;}
.slick-next:hover {background:url('/img/ico-arr-right.png') center center no-repeat #000000;}
.slick-prev:before, .slick-next:before {opacity: .75; color:#eb5b5b; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.slick-prev {left:-20px; background:url('/img/ico-arr-left.png') center center no-repeat #f17922; transition:background 300ms;}
[dir='rtl'] .slick-prev {right:0; left: auto;}
.slick-next {right:-20px; background:url('/img/ico-arr-right.png') center center no-repeat #f17922; transition:background 300ms;}
[dir='rtl'] .slick-next {right: auto; left: -25px;}
.slick-slider {/*margin-bottom: 30px;*/margin-bottom:0px;}
.slick-dots {position: absolute; bottom: -45px; /*display: block;*/ display: none !important; width: 100%; padding: 0; list-style: none; text-align: center;}
.slick-dots li {position: relative; display: inline-block; width: 15px; height: 20px; margin: 0; padding: 0; cursor: pointer;}
.slick-dots li button {font-size: 0; line-height: 0; display: block; width: 15px; height: 20px; padding: 5px; cursor: pointer; color: transparent; border: 0; outline: none; background: transparent;}
.slick-dots li button:hover, .slick-dots li button:focus {outline: none;}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {opacity: 1;}
.slick-dots li button:before {font-family: 'slick'; font-size: 6px; line-height: 20px; position: absolute; top: 0; left: 0; width: 15px; height: 20px; content: '•'; text-align: center; opacity: .25; color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;}
.slick-dots li.slick-active button:before {opacity: .75; color: black;}


.div06 {background:#222222; overflow: hidden; position:relative;}
.cont-row {margin:0; padding:0; width:100%; overflow: hidden;}
.cont-div {padding:40px !important;}
.cont-block {}
.cont-ttl {font:24px/24px 'open_sanslight', Arial, sans-serif; color:#f17922; margin-bottom:30px;}
.cont-dscr {font:14px/21px 'open_sanslight', Arial, sans-serif; color:#ffffff; margin-bottom:50px;}
.cont-padding {padding:0 0 0 50px;}
.cont-phone {display: block;}
.cont-mn {font:18px/24px 'open_sanslight', Arial, sans-serif; color:#ffffff; margin-bottom:30px; display:block; position:relative;}
.cont-mn a {color:#111;}
.cont-mn a:hover {color:#f17922;}
.cont-mn a:focus {color:#111;}
.cont-ico {position:absolute; left:0; top:0px; width:20px; height:20px;}
.cont-map {position:absolute; top:0; right:0; bottom:0; left:50%; padding:0;}

.cont-mn02 {font:24px/28px 'open_sanslight', Arial, sans-serif; color:#383838; margin-bottom:30px; display:block; position:relative;}

.contacts-div {padding:20px 20px 0 20px;}


.modal-header {border-bottom: 0 !important;}

.modal-content-white {background:#fbfbfb !important; border-radius:0px !important; border:0 !important; box-shadow:none !important;}
.modal-content-white button.close {color:#fff !important; opacity:1 !important; text-shadow:none !important; width:25px; height:25px; background:#111; position:relative; z-index:3 !important;}
.modal-content-white .modal-header {padding: 15px 15px 0 15px !important; border-bottom: 0px !important;}
.modal-content-ttl {padding: 0;}

.modal-ttl {font:32px/36px 'open_sanslight', Arial, sans-serif; text-transform:uppercase; color:#222; margin-bottom:20px; padding:0;}
.modal-ttl02 {font:22px/28px 'open_sanslight', Arial, sans-serif; text-transform:uppercase; color:#222; margin-bottom:20px; padding:0;}
.modal-ttl03 {font:18px/28px 'open_sanslight', Arial, sans-serif; text-transform:uppercase; color:#222; margin-bottom:20px; padding:0;}
.modal-ttl04 {font:18px/28px 'open_sanslight', Arial, sans-serif; text-transform:uppercase; color:#f17922; margin-bottom:20px; padding:0;}
.modal-dscr {font:14px/21px 'open_sanslight', Arial, sans-serif; margin-bottom:30px; color:#888;}
.modal-block {padding:0px 10px 0 30px; position:relative; margin-bottom:20px;}
.modal-block a {font:18px/26px 'open_sanslight', Arial, sans-serif; margin:0 !important; color:#222; vertical-align:middle; display: block;}
.modal-bord {box-shadow:inset 4px 0 0 #f17922;}
.modal-name {font:14px/21px 'open_sanslight', Arial, sans-serif; margin:0 !important; color:#222; vertical-align:middle;}
.modal-mean {font:14px/24px 'open_sanslight', Arial, sans-serif; margin:0 !important; color:#222; vertical-align:middle;}
.modal-ico {position: absolute; left:0; top:50%; margin-top:-12px; height:24px; width:24px;}
.modal-block-bttn {display: block;}
.modal-block-bttn02 {display: block; margin-bottom:20px;}
.modal-button-main {width:240px; height:45px; display: block; border-radius:2px; font:14px/14px 'open_sanslight', Arial, sans-serif; text-decoration:none; padding:15px; letter-spacing:.1px; text-align: center; cursor:pointer; background:#f17922; color:#ffffff; border:none !important;}
.modal-button-main:hover {background:#bbbbbb; color:#ffffff; text-decoration:none;}

.modal-box {max-width:1000px; padding:40px 25px !important;}
.modal-box-ttl2 {font:22px/22px Arial, sans-serif; text-transform:uppercase; color:#f17922 !important; margin-bottom:30px; padding:0;}
.modal-box-sep {height:1px; width:100px; background:#f17922; margin:0 0 15px; display:none;}
.modal-box-bg {background:url('../img/akc-bg.jpg') center center no-repeat; background-size: cover; position: absolute; top:0; bottom:0; left:0; right:0; opacity:.2; z-index:1 !important;}

.modal-box h1 {font:24px/36px 'open_sanslight', Arial, sans-serif; text-transform:uppercase; color:#f17922; margin-bottom:20px; padding:0;}
.modal-box h2 {font:24px/36px 'open_sanslight', Arial, sans-serif; text-transform:uppercase; color:#f17922; margin-bottom:20px; padding:0;}
.modal-box h3 {font:24px/36px 'open_sanslight', Arial, sans-serif; text-transform:uppercase; color:#f17922; margin-bottom:20px; padding:0;}
.modal-box h4 {font:24px/36px 'open_sanslight', Arial, sans-serif; text-transform:uppercase; color:#f17922; margin-bottom:20px; padding:0;}
.modal-box h5 {font:22px/22px 'open_sanslight', Arial, sans-serif; color:#000; margin-bottom:20px; padding:0;}
.modal-box h6 {font:22px/22px 'open_sanslight', Arial, sans-serif; color:#000; margin-bottom:0; padding:0;}
.modal-box p {font:14px/18px Arial, sans-serif; color:#5b5b5b; margin:0 0 25px; padding:0; text-align:justify;}
.modal-box strong,b {color: #000; font:'open_sanslight', Arial, sans-serif;}
.modal-box ul,ol {font:14px/20px Arial, sans-serif; margin: 0; padding-left:0 !important; color:#333;}
.modal-box li {color:#5b5b5b; list-style-type: none; margin-bottom: 10px;}
.modal-box li:before {color:#f17922; content: "◊ "; padding-right: 10px; font-weight: bolder;}
.box-phone { margin-bottom:20px; font:20px/20px 'open_sanslight'; color:#f17922; letter-spacing:3px;}
.box-phone a {font:20px/20px 'open_sanslight'; color:#000; letter-spacing:3px; text-decoration:none; display:block; margin-bottom:10px;}
.box-phone a span {color:#f17922;}
.box-phone a:hover,.navphone a:focus,.navphone a:active {color:#000 !important; text-decoration:none !important;}

.madal-about-div img {width:100% !important; height: auto !important;}

.modal-content-ttl .mct-ttl {font:38px/42px 'open_sanslight', Arial, sans-serif; text-transform:uppercase; color:#222; margin-bottom:30px;}
.modal-content-ttl .mct-dscr {font:18px/24px 'open_sanslight', Arial, sans-serif; margin-bottom:30px; color:#f17922;}
.modal-content-ttl .mct-phone {font:24px/24px 'open_sanslight', Arial; color:#111; letter-spacing:.3px; margin:0 0 25px 0;display:block;}
.modal-content-ttl2 {font:16px/36px 'open_sanslight', Arial; margin:0 0 15px 0; padding: 0; color:#da2423; text-align: center; letter-spacing:.5px;}
.modal-body {padding:0 !important;}
.modal-body-rw {padding-bottom:0 !important;}
.modal-backdrop.in {opacity:1 !important;}
.modal-backdrop {background:rgba(0,0,0,.8) !important;}
/* .modal-md {width:95% !important;}
.modal-lg {width:95% !important;} */

.fancybox-close-small:after {background:#f17922 !important; color:#fff !important;}

.form {margin:0 0 20px 0; overflow-x: hidden;}
.dinput2 {position: relative; margin-bottom:0;}
.dinput2 label {display:inherit !important;}
.dinput2 .input-text {padding:12px 15px; border:1px solid #eee; width:100%; display:block; border-radius:2px; font:14px 'open_sanslight', Arial, sans-serif; color:#585858; margin:0; transition:all 0.3s ease-in-out; background: #ffffff;}
.dinput2 .select-form {padding:8px 15px; border:1px solid #eee; width:100%; display:block; border-radius:2px; font:14px 'open_sanslight', Arial, sans-serif; color:#585858; margin:0 0 10px 0; transition:all 0.3s ease-in-out; background: #ffffff;}
.dinput3 {padding:10px 0px !important;}
.input-text:focus {border: 1px solid #ee3e41; outline:0; -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0, .075), 0 0 8px rgba(212,82,70, .3); -moz-box-shadow: inset 0 1px 1px rgba(0,0,0, .075), 0 0 8px rgba(212,82,70, .3); box-shadow: inset 0 1px 1px rgba(0,0,0, .075), 0 0 8px rgba(212,82,70, .3);}
.text-area {height:150px !important; resize:none; overflow:auto; margin-bottom:15px; background: #ffffff;}
.input-btn2 {width:250px; height:45px; display: block; border-radius:5px; font:15px/15px 'open_sanslight', Arial, sans-serif; text-decoration:none; padding:13px; letter-spacing:.3px; text-align: center; cursor:pointer; background:#f17922; border:none !important; color:#fff; margin-top:10px;}
.input-btn2:hover {background: #f5f5f5; text-decoration: none; color:#000;}
.input-btn2:focus {background: #f17922; color:#fff; border:none !important;}
.input-btnbg2:focus {background:#3f5b99 !important; color:#fff;}
label.formlbl {margin:0 0 7px 0; padding: 0; display:inline-block; color:#111 !important; font:14px/14px 'open_sanslight', Arial, sans-serif; letter-spacing:.3px;}
label.error {color:#eb5b5b; clear: both; display: block; margin-top:5px; font:16px/16px 'open_sanslight', Arial, sans-serif;}
.modal {color: #555;}
.sbj {display:none;}
.sbject {display:none;}

.div9 {width:100%; margin:0; padding:10px 0;overflow: hidden; background:#f1f1f1}
.row9 {margin:0; padding:0;}
.footrow {padding:10px 25px; color:#aaa;}
.footleft {text-align:left; font:14px/14px 'exo_2.0light', Arial, sans-serif;}
.footright {text-align:right;}


@media(max-width:1400px){
    .serv-span {padding:30px; min-height:200px;}
    .sldrblock-ttl {font:15px/24px 'open_sanslight_italic', Arial, sans-serif; color:#fff;}
}


@media(max-width:1300px){
    .sldr-preim-block {background:rgba(0,0,0,.5); padding:15px 15px 15px 80px; position:relative; min-height:90px;}
    .sldrico {width:40px; height:40px; position:absolute; left:15px; top:20px;}
    .step-div {padding:40px !important; height:370px;}
    .serv-span {padding:30px 40px; display:block; min-height:220px;}
    .serv-box-ttl {position:absolute; font:26px/30px 'open_sanscondensed_light', 'open_sanslight', Arial, sans-serif; }
}


@media(max-width:1200px){
    .abt-vid-bttn, .abt-vid-bttn:focus, .abt-vid-bttn:active {position:static; max-width:560px; height:316px; margin:0 auto 50px auto; width:auto; z-index:2;}
    .sldrbg,.sldrbg03 {height:auto;}
    .sldr-preim-div {margin-bottom:15px;}
    .sldr-preim-div:nth-child(2) {box-shadow:inset 1px 0 0 #ffffff, inset -1px 0 0 #ffffff;}
    .abt-row01 {padding:80px 100px 80px 70px;}
    .abt-row02 {padding:80px 70px 80px 100px;}
    .abt-bord01 {left:0; right:50px;}
    .abt-bord02 {left:50px; right:0;}
    .abt-block01 {left:30px; right:20px;}
    .abt-block02 {left:20px; right:30px;}
}

@media(max-width:992px){
    .sldr-ln02 {display:block; font:80px/100px 'open_sanscondensed_light', 'open_sanslight', Arial, sans-serif; margin-top:-10px; letter-spacing:-2px;}
    .sldr-block-bttn {padding-left:0px;}
    .mtext-bg {display:none;}
    .mtext-block {display:inherit; background: url(/img/bg-video.jpg) center center no-repeat #888888; background-size: cover; padding:40px 60px;}
    .mtext-block-ttl {font:40px/40px 'open_sanscondensed_light', 'open_sanslight', Arial, sans-serif; color:#ffffff;}
    .mtextbox-sep {height:2px; width:160px; box-shadow:inset 0 1px 0 #cccccc; margin:0 auto 30px 0;}
    .mtextbox-sep span {height:2px; width:50px; display:block; background:#f17922; margin:0 auto 30px 0;}
    .mtextbox-div {float:none!important;}
    .mtextbox-ttl {text-align:left;}
    .video-bg {height:auto;}
    .sldr-dscr {font:18px/20px 'open_sanslight', Arial, sans-serif; margin-bottom:30px}
    .srv-page-bg {top:0; bottom:0; width:100%;}
    .srv-page {padding:5px 70px; margin-bottom:0;}
    .srv-page-div {width:100%; float:none; opacity:.95;}
    .srv-page-div {background:rgba(255,255,255,.95);}
    .step-div {padding:40px !important; height:310px;}
    .cont-map {position:static; padding:0; height:350px;}
    .step-div:nth-child(1),.step-div:nth-child(3) {border-width:1px 1px 0 1px;}
    .step-div:nth-child(2),.step-div:nth-child(4) {border-width:1px 1px 0 0;}
    .step-div:nth-child(5) {border-width:1px 1px 1px 1px;}
    .step-div:nth-child(6) {border-width:1px 1px 1px 0;}
    .cont-mn02 {font:16px/21px 'open_sanslight', Arial, sans-serif;}
}

@media(max-width:768px){
    .nav-div {position:fixed; top:0; bottom:inherit; left:0; right:0; width:100%; height:50px;}
    .nav-button {width:auto; height:50px; min-height:1px;}
    .nav-button button {width:50px; height:50px; min-height:1px; float:left;}
    .nav-button a {width:50px; height:50px; min-height:1px; float:left;}
    .nav-bt-top {position:static; border-top:0px solid rgba(255,255,255,.5); border-right:1px solid rgba(255,255,255,.5)}
    .nav-a {width:50px; height:50px; border-bottom:0px solid rgba(255,255,255,.1) !important; border-right:1px solid rgba(255,255,255,.1) !important;}
    .nav-a:hover {opacity:.5}
    .nav-face,.nav-inst,.nav-yout {display: none;}
    .overlay {position:fixed; width:100%; height:auto; top:50px; left:0;}
    .overlay .overlay-close {width:50px; height:50px; position: absolute; left:-1px; top:-50px;}
    .overlay nav {border-left:0px;}
    .section {padding-left:0 !important;}
    .mainrow {position:relative; z-index:1; padding-left:0px; padding-top:50px;}
    .nav-lang-div {position: absolute; right:0; top:0; height:50px; border-bottom:0px solid rgba(255,255,255,.1) !important;}
    .nav-lang-lnk {font:18px/18px 'open_sanslight', Arial, sans-serif; color:#fff; display:block; padding-top:17px; opacity:.4}
    .nav-a:hover {background-position: 83% center;}
    .nav-mnu,.nav-phn,.nav-eml,.nav-bt-top,.nav-face,.nav-inst,.nav-yout {background-position: 16.5%  center;}
    .abt-div {margin-bottom: 20px;}
    .abt-row {position:relative; min-height:1px; position:relative; z-index:1;}
    .abt-row01 {padding:40px 50px 40px 50px;}
    .abt-row02 {padding:40px 50px 40px 50px;}
    .abt-bord {position:absolute; top:0px; bottom:0; border:5px solid #dddddd; z-index:3;}
    .abt-bord01 {left:20px; right:20px;}
    .abt-bord02 {left:20px; right:20px;}
    .abt-block {position:absolute; top:20px; bottom:20px; background:#ffffff; z-index:2;}
    .abt-block01 {left:10px; right:10px;}
    .abt-block02 {left:10px; right:10px;}
    .abt-ttl {margin-bottom:30px;}
    .abt-ttl:last-child {margin-bottom:0;}
    .sldrdiv {padding:13px 20px 20px 20px; position:relative; z-index:2;}
    .sldr-ttl { margin-bottom:20px;}
    .sldr-list a, .sldr-list a:focus, .sldr-list a:active {font:20px/20px 'open_sanslight_italic', Arial, sans-serif; padding-left:80px; margin-bottom:10px;}
    .main-ttl-bold {font:80px/100px 'open_sansbold', Arial, sans-serif; text-transform:uppercase;}
    .main-ttl,.main-ttl02 {font:38px/46px 'open_sanscondensed_light', 'open_sanslight', Arial, sans-serif;}
    .main-ttl-dscr {font:13px/18px 'open_sanslight', Arial, sans-serif; color:#000000;}
    .step-num {position: absolute; top:0px; left:20px;}
    .step-div {padding:20px !important; height:auto;}
    .coop-row {height:auto;}
    .news-block {margin:0 30px;}
    .srv-page {padding:10px 20px; margin-bottom:0;}
    .serv-span {padding:25px 40px; min-height:auto;}
    .step-div:nth-child(1),.step-div:nth-child(3),.step-div:nth-child(2),.step-div:nth-child(4),.step-div:nth-child(5) {border-width:1px 1px 0 1px;}
    .step-div:nth-child(6) {border-width:1px 1px 1px 1px;}
}

@media(max-width:700px){
    .infr-block,.serv-block,.serv-block02,.gal-block {margin:0 20px;}
    .sldr-bttn {display:block; margin:0 0 20px 0;}
    .sldr-bttn:hover {color:#ffffff; background:#000000; text-decoration:none;}
    .sldr-bttn-left, .sldr-bttn-left:focus, .sldr-bttn-left:active  {margin-right:0;}
    .sldr-bttn-w1 {width:260px;}
    .sldr-ln02 {font:60px/60px 'open_sanscondensed_light', 'open_sanslight', Arial, sans-serif; margin:40px 0 60px 0 !important;}
    .sldr-ln03 {font:50px/50px 'open_sanscondensed_light', 'open_sanslight', Arial, sans-serif;}
    .sldr-preim-div {box-shadow:inset 1px 0 0 #ffffff, inset -1px 0 0 #ffffff; width:100% !important;}
}

@media(max-width:600px){
    .div-block-bttn {width:100%;}
    .div-bttn {margin:0 auto 10px auto; display: block;}
    .srv-page-bg {display:none;}
    .srv-page-img {display:block !important; margin-bottom:30px;}
    .srv-page {padding:10px 20px; margin-bottom:0;}
    .srv-page-row {padding:25px; box-shadow:1px 1px 0 rgba(0,0,0,.1); border-radius:3px;}
    .srv-page-ttl {font:22px/26px 'open_sansregular', Arial, sans-serif; margin:0 0 20px; padding:0;}
    .srv-page-row p {font:13px/21px 'open_sanslight', Arial, sans-serif; color:#000000; display:block; padding:0; text-align:justify; letter-spacing: 0.3px;}
    .srv-page-row ul,ol {font:13px/21px 'open_sanslight', Arial, sans-serif; margin: 0; padding-left:0 !important; color:#333; letter-spacing: 0.3px;}
    .srv-page-row li {color:#888; list-style-type: none;}
    .gal-col-w {width:100% !important;}
    .news-box-txt {min-height:1px;}
    .maintext img {width:100% !important; height:auto !important;}
}

@media(max-width:460px){
    .news-box-img {position:static; width:100%; min-height:150px;}
    .news-box-txt {width:100%; float:none; padding:20px;}
}

@media(max-width:400px){
    .sldrdiv {padding:13px 20px 20px 20px;}
    .mtextbox-row {padding:40px 30px;}
    .coop-div {margin-bottom: 20px;}
    .coop-ico {top: 0; left:50%; margin-left: -50px; height:100px;}
    .coop-row {padding:60px 10px 20px 10px; border:1px solid #000; text-align: center;}
}


button {outline-width:0 !important; border:none !important;}
button:focus {outline:none !important;}
a {text-decoration:none !important;}
a:hover {text-decoration:none !important;}
a:focus {outline: none !important;}
a img {border: none;}
